@mixin round-button($color, $hover-color) {
    background-color: $color;
    border-radius: 40px;
    font-family: 'Ubuntu-Bold';
    font-size: 20px;
    color: #060084;
    padding: 18px 32px;

    &:hover,
    &:focus{
        background-color: $hover-color;
        box-shadow: none;
    }
}

.btn-round-orange{ @include round-button($orange, $yellow) }
.btn-round-yellow{ @include round-button($yellow, $orange) }
.but-s {padding:10px 20px;font-size: 14px;}
