@mixin round-button($color, $hover-color) {
    background-color: $color;
    border-radius: 40px;
    font-family: 'Ubuntu-Bold';
    font-size: 14px;
    color: #060084;
    height: 38px;
    min-width: 180px;
    text-align: center;
    line-height: 38px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;

    &:hover,
    &:focus{
        background-color: $hover-color;
        box-shadow: none;
        text-decoration: none;
    }
}

.btn-round-orange{ @include round-button($orange, $yellow) }
.btn-round-yellow{ @include round-button($yellow, $orange) }
