.date{
    padding: 90px 0;
    background: #D8D8D8;
    background-image: linear-gradient(135deg, #6E9E45 2%, #9DBD4F 98%);
    position: relative;
    overflow: hidden;

    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/bg-leaves.svg');
        background-position: left center;
        background-repeat: no-repeat;
    }

    .date-title{
        font-family: 'Ubuntu-Bold';
        font-size: 36px;
        color: #FFFFFF;
        letter-spacing: 0;
        margin-bottom: 50px;
        text-align: center;
    }

    .date-main{
        font-family: 'Ubuntu-Medium';
        font-size: 20px;
        color: #FFFFFF;
        letter-spacing: 0;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .date-list{
        .date-item{
            .date-name{
                font-family: 'Ubuntu-Medium';
                font-size: 16px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 34px;
            }
            .date-date{
                font-family: 'Ubuntu-Regular';
                font-size: 16px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 34px;
            }
        }
    }

    .submission{
        width: 120px;
        height: 120px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        font-family: 'Ubuntu-Medium';
        font-size: 12px;
        color: #000000;
        letter-spacing: 0;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        padding: 10px;
        text-align: center;

        &:before{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border-right: solid 60px $yellow;
            border-top: solid 60px $yellow;
            border-bottom: solid 60px transparent;
            border-left: solid 60px transparent;
            z-index: -1;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }

    @media (min-width: 1200px){
        .date-main{
            font-size: 30px;
            margin-bottom: 0;
        }
        .submission{
            width: 158px;
            height: 158px;
            font-size: 18px;
            
            &:before{
                border-right: solid 79px $yellow;
                border-top: solid 79px $yellow;
                border-bottom: solid 79px transparent;
                border-left: solid 79px transparent;
            }
        }
    }
    
}