.footer{
    background-color: #121B07;
    padding: 60px 0;
    color: $white;
    line-height: 40px;

    p{
        font-family: 'Ubuntu-Regular';
        font-size: 20px;
        letter-spacing: 0;
    }
    h5{
        font-family: 'Ubuntu-Bold';
        font-size: 24px;
        margin-bottom: 22px;
    }
}

.copyright{
    font-family: 'Ubuntu-Regular';
    font-size: 14px;
    color: #F8E71C;
    letter-spacing: 0;
    line-height: 70px;
    text-align: center;
    background: #000000;
    border: solid 1px #000000;
}
