.header{
    background-image: url('../images/header-img.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: $white;
    padding: 180px 0;

    &:before {
        content: '';
        position: absolute;
        background: #000000;
        opacity: .6;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &:after{
        content: '';
        position: absolute;
        display: inline-block;
        background-image: url('../images/header-attribute.svg');
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: 105%;
        width: 100%;
        height: 100%;
        top: 10px;
        left: 0;
    }

    .header-logo {
        max-width: 90%;
        margin-bottom: 10px;
      }

    .header-title{
        font-family: 'Ubuntu-Medium';
        font-size: 24px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 38px;
        margin-bottom: 20px;

        @media (max-width: 575px){
          max-width: 90%;
          margin-left: 5%;
        }
    }

    .header-subtitle{
        font-family: 'Ubuntu-Regular';
        font-size: 18px;
        color: #FFFFFF;
        line-height: 25px;
        margin-bottom: 15px;
    }

    .sp{
        .sp-title{
            font-family: 'Ubuntu-Regular';
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 0;
        }
        .sp-list{
            margin: 25px 0;

            .sp-item{
                display: inline-block;
                height: 75px;
                width: 50px;
                margin-right: 30px;

                img{
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }

                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}
