.header{
    background-image: url('../images/header-img.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: $white;
    padding: 80px 0;

    &:before {
        content: '';
        position: absolute;
        background: #B2C55A;
        background-image: linear-gradient(0deg, #548D02 38%, rgba(197,236,17,0.50) 97%);
        opacity: .85;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .subtitle{
        font-family: 'Ubuntu-Medium';
        font-size: 20px;
        color: $white;
        letter-spacing: 0;
    }

    .title{
        font-family: 'Ubuntu-Medium';
        font-size: 24px;
        color: $white;
        letter-spacing: 0;
        line-height: 38px;
        @media (max-width: 575px){
          max-width: 90%;
        }
    }

    .submit-but {
      margin-bottom: 15px;
    }

    .logo {
      max-width: 90%;
    }
}
