.paper{
    position: relative;
    padding: 80px 0;
    overflow: hidden;

    &:before{
        content: "";
        position: absolute;
        bottom: -50%;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/bg-leaves.svg');
        background-position: left center;
        background-repeat: no-repeat;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

    .paper-title{
        font-family: 'Ubuntu-Bold';
        font-size: 30px;
        color: #000000;
        letter-spacing: 0;
        margin-bottom: 80px;
        text-align: center;
        position: relative;
        z-index: 1;

        &:before{
            content: "";
            background-image: url("../images/title-leaves.svg");
            background-size: 70px 62px;
            width: 70px;
            height: 62px;
            position: absolute;
            top: 0;   
            left: calc(50% - 150px);
            z-index: -1;
        }
    }

    .item{
        width: 100%;
        margin-top: 32px 0 0 0;
        text-align: center;
        border: solid 1px #FFFFFF;

        .title{
            font-family: 'Ubuntu-Bold';
            font-size: 20px;
            color: #9DBD4F;
            letter-spacing: 0;
            margin-bottom: 25px;
        }
        .subtitle{
            font-family: 'Ubuntu-Medium';
            font-size: 18px;
            color: #000000;
            letter-spacing: 0;
            margin-bottom: 40px;
        }
        ol{
            text-align: left;
            font-family: 'Ubuntu-Regular';
            font-size: 16px;
            color: #000000;
            letter-spacing: 0;
            line-height: 34px;

            > li{
                margin-bottom: 50px;
            }
        }
    }

    .owl-nav{
        display: none;
    }

    .owl-dots{
        width: 100%;
        height: 5px;
        position: relative;
        text-align: center;

        .owl-dot{
            width: 50px;
            height: 100%;
            background-color: #DEDEDE;
            display: inline-block;
            margin-right: 10px;

            &.active{
                background-color: #9DBD4F;
            }
        }
    }

    @media (min-width: 1200px){
        .paper-title{
            font-size: 36px;
            
            &:before{
                content: "";
                background-size: 92px 81px;
                width: 92px;
                height: 81px;
                left: calc(50% - 180px);
            }
        }

        .item{
            width: 70%;
            margin-left: 15%;
            margin-right: 15%;
        }

        .owl-nav{
            position: absolute;
            left: 0;
            top: calc(50% - 80px);
            width: 100%;
            height: 160px;
            float: left;
            display: table;
    
            .owl-next,
            .owl-prev{
                width: 120px;
                font-family: 'Ubuntu-Medium';
                font-size: 16px;
                color: #4A4A4A;
                letter-spacing: 0;
                text-align: center;
                position: relative;
    
                &:before{
                    content: "";
                    background-image: url('../images/arrow.svg');
                    background-size: 100px;
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    top: 60px;
                    left: 10px;
                }
            }
    
            .owl-prev{
                float: left;
            }
    
            .owl-next{
                float: right;
    
                &:before{
                    -webkit-transform: scaleX(-1);
                    -moz-transform: scaleX(-1);
                    -o-transform: scaleX(-1);
                    transform: scaleX(-1);
                }
            }
        }

        .owl-dots{
            display: none;
        }
    }
}
