.schedule{
    background-image: url('../images/bg-schedules.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 100px 0;

    .item{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 32px;
        text-align: center;

        .main{
            border: solid 5px $dark-green;
            
            position: relative;
            padding: 20px;
            width: 100%;

            .title{
                font-size: 64px;
                font-family: 'Ubuntu-Bold';
                position: relative;
                top: -90px;
                width: 80%;
                left: 10%;
                padding: 20px 50px;
                background-color: $white;
                text-align: center;
            }

            .content{
                position: relative;
                top: -90px;
                text-align: left;

                p{
                    margin-top: 37px;;
                    font-family: 'Ubuntu-Regular';
                    font-size: 18px;
                    color: #000005;
                    letter-spacing: 0;
                }
                .subtitle{
                    font-family: 'Ubuntu-Bold';
                    font-size: 20px;
                    color: #2C1D05;
                    letter-spacing: 0;
                    line-height: 37px;
                }
            }
        }
    }

    .owl-nav{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        float: left;
        display: table; 

        div{
            width: 150px;
            height: 150px;
            border: solid 1px #516E2B;
            border-radius: 100%;
            margin-top: calc(35% - 75px);
            font-family: 'Ubuntu-Bold';
            font-size: 16px;
            color: #2C1D05;
            letter-spacing: 0;
            line-height: 27px;
            display: table-cell; 
            vertical-align: middle;
            position: relative;

            &.owl-prev{
                float: left;
                &:before{
                    content: "";
                    position: absolute;
                    background-image: url('../images/arrow.png');
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    transform: rotate(180deg);
                    width: 80px;
                    height: 80px;
                    left: -60px;
                    top: 35px;
                    z-index: 1;
                }
            }
            &.owl-next{
                float: right;

                &:before{
                    content: "";
                    position: absolute;
                    background-image: url('../images/arrow.png');
                    width: 80px;
                    height: 80px;
                    right: -60px;
                    top: 35px;
                    z-index: 1;
                }
            }

            @media (max-width: 1119px) {
                border: none;
                color: transparent;
                
                &.owl-prev{                    
                    &::before{
                        left: 0px;
                    }
                }

                &.owl-next{                    
                    &::before{
                        right: 0px;
                    }
                }
            }
        }
    }

    @media (max-width: 575px){
        padding: 10px 0;

        .item{
            width: 100%;
            margin-left : 0 !important; 
            margin-right : 0 !important; 

            .main{
                .title{                    
                    top: -62px;
                    padding: 10px 20px;
                }
                .content{
                    top: -62px;
                }
            }
        }
        .owl-nav{
            position: relative;
            div{
                margin-top: 0;
            }
        }
    }

    @media (max-width: 991px){
        .item{
            .main{
                .title{
                    font-size: 32px;
                }
            }
        }
    }

    
}