.speaker{
    background-image: linear-gradient(135deg, #6E9E45 2%, #9DBD4F 98%);
    padding-top: 100px;
    padding-bottom: 80px;

    .speaker-title{
        font-family: 'Ubuntu-Bold';
        font-size: 36px;
        color: #FFFFFF;
        letter-spacing: 0;
        margin-bottom: 80px;
        text-align: center;
        position: relative;
        z-index: 1;

        &:before{
            content: "";
            background-image: url("../images/title-leaves.svg");
            background-size: 92px 81px;
            width: 92px;
            height: 81px;
            position: absolute;
            top: 0;
            left: calc(50% - 110px);
            z-index: -1;
        }
    }

    .item{
        text-align: center;
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 70px 15px 10px;
        margin-top: 50px;
        margin-bottom: 20px;
        // background: #fff;
        // min-height: 320px;
        // border-radius: 10px;

        &:before{
            position: absolute;
            content: "";
            width: 100%;
            height: 150px;
            border: solid 7px $yellow;
            border-bottom: none;
            top: 0;
            left: 0;
            z-index: 0;
        }

        .image{
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            overflow: hidden;
            top: -50px;
            left: calc(50% - 50px);

            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }


        .name{
            font-family: 'Ubuntu-Bold';
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 10px;
        }

        .desc{
            font-family: 'Ubuntu-Regular';
            font-size: 15px;
            line-height: 27px;
            i {
              margin-top: 15px;
              display: block;
            }
        }
    }
}
