@import "./fonts.scss";
@import "./vars.scss";
@import "./buttons.scss";

/* Sections */
@import "./nav.scss";
@import "./header.scss";
@import "./about.scss";
@import "./date.scss";
@import "./speaker.scss";
@import "./paper.scss";
@import "./support.scss";
@import "./event.scss";
@import "./footer.scss";

.socmed-float {
  position: fixed;
  top: 25%;
  right: 0px;
  background: #fff;
  padding: 5px;
  z-index: 9999999;
  .list {
    img {
      width: 40px;
      margin: 3px 0px;
    }
  }
}
