.topic{
    background-image: url('../images/bg-event.png');
    background-position: center 60px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;

    .description{
        font-family: 'Ubuntu-Regular';
        font-size: 18px;
        letter-spacing: 0;
        line-height: 35px;
        color: #2C1D05;

        &.bold{
            font-family: 'Ubuntu-Bold';
            color: #000000;
        }
    }
}