/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKcg72j00.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Ubuntu-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKew72j00.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Ubuntu-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKcw72j00.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Ubuntu-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKfA72j00.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* latin-ext */
@font-face {
  font-family: 'Ubuntu-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKcQ72j00.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Ubuntu-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKfw72.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu-Medium';
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCjC3jvWyNL4U.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Ubuntu-Medium';
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCjC3jtGyNL4U.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Ubuntu-Medium';
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCjC3jvGyNL4U.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Ubuntu-Medium';
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCjC3js2yNL4U.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* latin-ext */
@font-face {
  font-family: 'Ubuntu-Medium';
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCjC3jvmyNL4U.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Ubuntu-Medium';
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCjC3jsGyN.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu-Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCxCvjvWyNL4U.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Ubuntu-Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCxCvjtGyNL4U.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Ubuntu-Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCxCvjvGyNL4U.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Ubuntu-Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCxCvjs2yNL4U.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* latin-ext */
@font-face {
  font-family: 'Ubuntu-Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCxCvjvmyNL4U.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Ubuntu-Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCxCvjsGyN.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

.btn-round-orange {
  background-color: #F5A623;
  border-radius: 40px;
  font-family: 'Ubuntu-Bold';
  font-size: 14px;
  color: #060084;
  height: 38px;
  min-width: 180px;
  text-align: center;
  line-height: 38px;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 10px; }
  .btn-round-orange:hover, .btn-round-orange:focus {
    background-color: #F8E71C;
    box-shadow: none;
    text-decoration: none; }

.btn-round-yellow {
  background-color: #F8E71C;
  border-radius: 40px;
  font-family: 'Ubuntu-Bold';
  font-size: 14px;
  color: #060084;
  height: 38px;
  min-width: 180px;
  text-align: center;
  line-height: 38px;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 10px; }
  .btn-round-yellow:hover, .btn-round-yellow:focus {
    background-color: #F5A623;
    box-shadow: none;
    text-decoration: none; }

/* Sections */
.navbar {
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }
  .navbar .navbar-brand {
    text-align: center; }
    .navbar .navbar-brand .brand-image {
      width: 63px;
      height: 63px;
      margin-bottom: 15px; }
    .navbar .navbar-brand .brand-title {
      font-family: 'Ubuntu-Medium';
      font-size: 10px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 17px; }
      @media (max-width: 1119px) {
        .navbar .navbar-brand .brand-title {
          display: none; } }
  .navbar.stick {
    position: fixed;
    background-color: #9DBD4F;
    height: 88px; }
    .navbar.stick .navbar-brand .brand-image {
      margin-bottom: unset; }
    .navbar.stick .navbar-brand .brand-title {
      display: none; }
  .navbar .navbar-toggler {
    height: 63px;
    width: 63px;
    border: solid 1px white; }
    .navbar .navbar-toggler .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255 ,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
  .navbar .navbar-collapse .navbar-nav {
    display: inline-table;
    width: 100%;
    height: 50px; }
    .navbar .navbar-collapse .navbar-nav .nav-item {
      display: table-cell;
      vertical-align: bottom;
      cursor: pointer; }
      .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
        font-family: 'Ubuntu-Bold';
        font-size: 16px;
        color: #FFFFFF !important;
        letter-spacing: 0;
        text-align: center;
        padding: 0; }
        .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
          color: #9DBD4F !important; }
  @media (max-width: 991px) {
    .navbar .navbar-collapse .navbar-nav {
      height: unset;
      display: inline-block;
      background: #9DBD4F;
      position: absolute;
      left: 0; }
      .navbar .navbar-collapse .navbar-nav .nav-item {
        width: 100%;
        display: inline-block; }
        .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
          display: inline-block;
          width: 100%;
          text-align: center;
          padding: 20px 0; }
          .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
            background-color: rgba(255, 255, 255, 0.5); } }

.header {
  background-image: url("../images/header-img.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #FFFFFF;
  padding: 10% 0 100px;
  height: 85vh; }
  @media (max-width: 550px) {
    .header {
      padding: 30% 0 100px;
      height: auto; } }
  .header:before {
    content: '';
    position: absolute;
    background: #000000;
    opacity: .6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .header:after {
    content: '';
    position: absolute;
    display: inline-block;
    background-image: url("../images/header-attribute.svg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 105%;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 0; }
  .header .header-logo {
    max-width: 90%;
    margin-bottom: 10px; }
  .header .header-title {
    font-family: 'Ubuntu-Medium';
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 38px;
    margin-bottom: 20px; }
    @media (max-width: 575px) {
      .header .header-title {
        max-width: 90%;
        margin-left: 5%; } }
  .header .header-subtitle {
    font-family: 'Ubuntu-Regular';
    font-size: 18px;
    color: #FFFFFF;
    line-height: 25px;
    margin-bottom: 15px; }
  .header .sp .sp-title {
    font-family: 'Ubuntu-Regular';
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0; }
  .header .sp .sp-list {
    margin: 25px 0; }
    .header .sp .sp-list .sp-item {
      display: inline-block;
      height: 75px;
      width: 50px;
      margin-right: 30px; }
      .header .sp .sp-list .sp-item img {
        object-fit: contain;
        width: 100%;
        height: 100%; }
      .header .sp .sp-list .sp-item:last-child {
        margin-right: 0; }

.about {
  padding: 60px 0;
  background-color: #FFFFFF; }
  .about .nav .nav-item {
    background-color: rgba(110, 158, 69, 0.2);
    margin-bottom: 10px;
    margin-right: 48px;
    height: 48px;
    position: relative;
    padding: 0;
    display: inline-block;
    cursor: pointer; }
    .about .nav .nav-item .nav-link {
      font-family: 'Ubuntu-Medium';
      font-size: 14px;
      color: #2E5D05;
      letter-spacing: 0;
      padding: 13px 0 13px 35px;
      display: inline-block;
      width: 100%; }
    .about .nav .nav-item:after {
      content: "";
      position: absolute;
      top: 0;
      right: -48px;
      width: 48px;
      height: 48px;
      border-left: solid 24px rgba(110, 158, 69, 0.2);
      border-top: solid 24px transparent;
      border-bottom: solid 24px transparent; }
    .about .nav .nav-item.active, .about .nav .nav-item:hover {
      background-color: rgba(110, 158, 69, 0.71); }
      .about .nav .nav-item.active:after, .about .nav .nav-item:hover:after {
        border-left: solid 24px rgba(110, 158, 69, 0.71); }
  .about .nav-content {
    display: inline-block;
    font-family: 'Ubuntu-Regular';
    font-size: 18px;
    color: #2C1D05;
    letter-spacing: 0;
    line-height: 35px; }
    .about .nav-content .content-item {
      display: none;
      max-height: 250px;
      overflow: hidden; }
      .about .nav-content .content-item.active {
        display: inline-block; }
        .about .nav-content .content-item.active.full {
          max-height: unset; }
  .about .nav-expander {
    font-family: Ubuntu-Bold;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0;
    line-height: 35px;
    margin: 35px 0;
    cursor: pointer; }

.date {
  padding: 90px 0;
  background: #D8D8D8;
  background-image: linear-gradient(135deg, #6E9E45 2%, #9DBD4F 98%);
  position: relative;
  overflow: hidden; }
  .date:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg-leaves.svg");
    background-position: left center;
    background-repeat: no-repeat; }
  .date .date-title {
    font-family: 'Ubuntu-Bold';
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-bottom: 50px;
    text-align: center; }
  .date .date-main {
    font-family: 'Ubuntu-Medium';
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-top: 30px;
    margin-bottom: 30px; }
  .date .date-list .date-item .date-name {
    font-family: 'Ubuntu-Medium';
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 34px; }
  .date .date-list .date-item .date-date {
    font-family: 'Ubuntu-Regular';
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 34px; }
  .date .submission {
    width: 120px;
    height: 120px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    font-family: 'Ubuntu-Medium';
    font-size: 12px;
    color: #000000;
    letter-spacing: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 10px;
    text-align: center; }
    .date .submission:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border-right: solid 60px #F8E71C;
      border-top: solid 60px #F8E71C;
      border-bottom: solid 60px transparent;
      border-left: solid 60px transparent;
      z-index: -1;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  @media (min-width: 1200px) {
    .date .date-main {
      font-size: 30px;
      margin-bottom: 0; }
    .date .submission {
      width: 158px;
      height: 158px;
      font-size: 18px; }
      .date .submission:before {
        border-right: solid 79px #F8E71C;
        border-top: solid 79px #F8E71C;
        border-bottom: solid 79px transparent;
        border-left: solid 79px transparent; } }

.speaker {
  background-image: linear-gradient(135deg, #6E9E45 2%, #9DBD4F 98%);
  padding-top: 100px;
  padding-bottom: 80px; }
  .speaker .speaker-title {
    font-family: 'Ubuntu-Bold';
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-bottom: 80px;
    text-align: center;
    position: relative;
    z-index: 1; }
    .speaker .speaker-title:before {
      content: "";
      background-image: url("../images/title-leaves.svg");
      background-size: 92px 81px;
      width: 92px;
      height: 81px;
      position: absolute;
      top: 0;
      left: calc(50% - 110px);
      z-index: -1; }
  .speaker .item {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 70px 10px 0px 10px;
    margin-top: 50px;
    margin-bottom: 20px; }
    .speaker .item:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 150px;
      border: solid 7px #F8E71C;
      border-bottom: none;
      top: 0;
      left: 0;
      z-index: 0; }
    .speaker .item .image {
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      overflow: hidden;
      top: -50px;
      left: calc(50% - 50px); }
      .speaker .item .image img {
        object-fit: cover;
        width: 100%;
        height: 100%; }
    .speaker .item .name {
      font-family: 'Ubuntu-Bold';
      font-size: 20px;
      line-height: 27px; }
    .speaker .item .desc {
      font-family: 'Ubuntu-Regular';
      font-size: 15px;
      line-height: 27px; }

.paper {
  position: relative;
  padding: 80px 0;
  overflow: hidden; }
  .paper:before {
    content: "";
    position: absolute;
    bottom: -50%;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg-leaves.svg");
    background-position: left center;
    background-repeat: no-repeat;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; }
  .paper .paper-title {
    font-family: 'Ubuntu-Bold';
    font-size: 30px;
    color: #000000;
    letter-spacing: 0;
    margin-bottom: 80px;
    text-align: center;
    position: relative;
    z-index: 1; }
    .paper .paper-title:before {
      content: "";
      background-image: url("../images/title-leaves.svg");
      background-size: 70px 62px;
      width: 70px;
      height: 62px;
      position: absolute;
      top: 0;
      left: calc(50% - 150px);
      z-index: -1; }
  .paper .item {
    width: 100%;
    margin-top: 32px 0 0 0;
    line-height: 30px; }
    .paper .item .title {
      font-family: 'Ubuntu-Bold';
      font-size: 20px;
      color: #9DBD4F;
      letter-spacing: 0;
      margin-bottom: 25px; }
    .paper .item .subtitle {
      font-family: 'Ubuntu-Medium';
      font-size: 18px;
      color: #000000;
      letter-spacing: 0;
      margin-bottom: 40px; }
    .paper .item ol {
      text-align: left;
      font-family: 'Ubuntu-Regular';
      font-size: 16px;
      color: #000000;
      letter-spacing: 0;
      line-height: 34px; }
  .paper .owl-nav {
    display: none; }
  .paper .owl-dots {
    width: 100%;
    height: 5px;
    position: relative;
    text-align: center; }
    .paper .owl-dots .owl-dot {
      width: 50px;
      height: 100%;
      background-color: #DEDEDE;
      display: inline-block;
      margin-right: 10px; }
      .paper .owl-dots .owl-dot.active {
        background-color: #9DBD4F; }
  @media (min-width: 1200px) {
    .paper .paper-title {
      font-size: 36px; }
      .paper .paper-title:before {
        content: "";
        background-size: 92px 81px;
        width: 92px;
        height: 81px;
        left: calc(50% - 180px); }
    .paper .item {
      width: 70%;
      margin-left: 15%;
      margin-right: 15%; }
    .paper .owl-nav {
      position: absolute;
      left: 0;
      top: calc(50% - 80px);
      width: 100%;
      height: 160px;
      float: left;
      display: table; }
      .paper .owl-nav .owl-prev {
        left: -50px; }
      .paper .owl-nav .owl-next {
        right: -50px; }
      .paper .owl-nav .owl-next,
      .paper .owl-nav .owl-prev {
        width: 120px;
        font-family: 'Ubuntu-Medium';
        font-size: 16px;
        color: #4A4A4A;
        letter-spacing: 0;
        text-align: center;
        position: relative; }
        .paper .owl-nav .owl-next:before,
        .paper .owl-nav .owl-prev:before {
          content: "";
          background-image: url("../images/arrow.svg");
          background-size: 100px;
          position: absolute;
          width: 100px;
          height: 100px;
          top: 60px;
          left: 10px; }
      .paper .owl-nav .owl-prev {
        float: left; }
      .paper .owl-nav .owl-next {
        float: right; }
        .paper .owl-nav .owl-next:before {
          -webkit-transform: scaleX(-1);
          -moz-transform: scaleX(-1);
          -o-transform: scaleX(-1);
          transform: scaleX(-1); }
    .paper .owl-dots {
      display: none; } }

.support {
  margin: 70px 0 50px 0; }
  .support .support-title {
    font-family: 'Ubuntu-Bold';
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center; }
  .support img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin-bottom: 10px; }

.event {
  background: #F9F9F9;
  background-image: url("../images/bg-event.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 100px 0 180px 0;
  position: relative; }
  .event .event-title {
    font-family: 'Ubuntu-Bold';
    font-size: 36px;
    color: #000000;
    letter-spacing: 0;
    margin-bottom: 80px;
    text-align: center;
    position: relative;
    z-index: 1; }
    .event .event-title:before {
      content: "";
      background-image: url("../images/title-leaves.svg");
      background-size: 92px 81px;
      width: 92px;
      height: 81px;
      position: absolute;
      top: 0;
      left: calc(50% - 150px);
      z-index: -1; }
  .event .item {
    width: 100%;
    min-height: 375px;
    background-color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px; }
    .event .item img {
      width: 100%; }
    .event .item .name {
      font-family: 'Ubuntu-Bold';
      font-size: 20px;
      margin: 20px 0; }
    .event .item .desc {
      font-family: 'Ubuntu-Regular';
      font-size: 18px;
      line-height: 30px; }

.footer {
  background-color: #121B07;
  padding: 60px 0;
  color: #FFFFFF;
  line-height: 40px; }
  .footer p {
    font-family: 'Ubuntu-Regular';
    font-size: 20px;
    letter-spacing: 0; }
  .footer h5 {
    font-family: 'Ubuntu-Bold';
    font-size: 24px;
    margin-bottom: 22px; }

.copyright {
  font-family: 'Ubuntu-Regular';
  font-size: 14px;
  color: #F8E71C;
  letter-spacing: 0;
  line-height: 70px;
  text-align: center;
  background: #000000;
  border: solid 1px #000000; }

.socmed-float {
  position: fixed;
  top: 25%;
  right: 0px;
  background: #fff;
  padding: 5px;
  z-index: 9999999; }
  .socmed-float .list img {
    width: 40px;
    margin: 3px 0px; }
