/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKcg72j00.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Ubuntu-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKew72j00.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Ubuntu-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKcw72j00.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Ubuntu-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKfA72j00.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* latin-ext */
@font-face {
  font-family: 'Ubuntu-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKcQ72j00.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Ubuntu-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKfw72.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu-Medium';
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCjC3jvWyNL4U.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Ubuntu-Medium';
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCjC3jtGyNL4U.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Ubuntu-Medium';
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCjC3jvGyNL4U.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Ubuntu-Medium';
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCjC3js2yNL4U.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* latin-ext */
@font-face {
  font-family: 'Ubuntu-Medium';
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCjC3jvmyNL4U.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Ubuntu-Medium';
  font-style: normal;
  font-weight: 500;
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCjC3jsGyN.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu-Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCxCvjvWyNL4U.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }

/* cyrillic */
@font-face {
  font-family: 'Ubuntu-Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCxCvjtGyNL4U.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Ubuntu-Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCxCvjvGyNL4U.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Ubuntu-Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCxCvjs2yNL4U.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* latin-ext */
@font-face {
  font-family: 'Ubuntu-Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCxCvjvmyNL4U.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Ubuntu-Bold';
  font-style: normal;
  font-weight: 700;
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCxCvjsGyN.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

.btn-round-orange {
  background-color: #F5A623;
  border-radius: 40px;
  font-family: 'Ubuntu-Bold';
  font-size: 20px;
  color: #060084;
  padding: 18px 32px; }
  .btn-round-orange:hover, .btn-round-orange:focus {
    background-color: #F8E71C;
    box-shadow: none; }

.btn-round-yellow {
  background-color: #F8E71C;
  border-radius: 40px;
  font-family: 'Ubuntu-Bold';
  font-size: 20px;
  color: #060084;
  padding: 18px 32px; }
  .btn-round-yellow:hover, .btn-round-yellow:focus {
    background-color: #F5A623;
    box-shadow: none; }

.but-s {
  padding: 10px 20px;
  font-size: 14px; }

/* Sections */
.header {
  background-image: url("../images/header-img.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #FFFFFF;
  padding: 80px 0; }
  .header:before {
    content: '';
    position: absolute;
    background: #B2C55A;
    background-image: linear-gradient(0deg, #548D02 38%, rgba(197, 236, 17, 0.5) 97%);
    opacity: .85;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .header .subtitle {
    font-family: 'Ubuntu-Medium';
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0; }
  .header .title {
    font-family: 'Ubuntu-Medium';
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 38px; }
    @media (max-width: 575px) {
      .header .title {
        max-width: 90%; } }
  .header .submit-but {
    margin-bottom: 15px; }
  .header .logo {
    max-width: 90%; }

.nav {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 5px #EFEFEF; }
  .nav b {
    line-height: 48px; }
  .nav .item {
    cursor: pointer;
    font-family: 'Ubuntu-Bold';
    font-size: 20px;
    color: #2C1D05;
    letter-spacing: 0; }
    .nav .item:hover {
      background-color: #EFEFEF; }
    @media (max-width: 575px) {
      .nav .item {
        font-size: 14px; } }

.topic {
  background-image: url("../images/bg-event.png");
  background-position: center 60px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px; }
  .topic .description {
    font-family: 'Ubuntu-Regular';
    font-size: 18px;
    letter-spacing: 0;
    line-height: 35px;
    color: #2C1D05; }
    .topic .description.bold {
      font-family: 'Ubuntu-Bold';
      color: #000000; }

.speaker {
  background: linear-gradient(to right, #F5A623, #F5CB23);
  position: relative;
  padding-top: 100px;
  padding-bottom: 80px; }
  .speaker .item {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 70px 10px 0px 10px;
    margin-top: 50px;
    margin-bottom: 20px; }
    .speaker .item:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 150px;
      border: solid 7px rgba(0, 0, 0, 0.3);
      border-bottom: none;
      top: 0;
      left: 0;
      z-index: 0; }
    .speaker .item img {
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      top: -50px;
      left: calc(50% - 50px); }
    .speaker .item .name {
      font-family: 'Ubuntu-Bold';
      font-size: 20px;
      line-height: 27px; }
    .speaker .item .desc {
      font-family: 'Ubuntu-Regular';
      font-size: 15px;
      line-height: 27px; }

.schedule {
  background-image: url("../images/bg-schedules.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 100px 0; }
  .schedule .item {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 32px;
    text-align: center; }
    .schedule .item .main {
      border: solid 5px #516E2B;
      position: relative;
      padding: 20px;
      width: 100%; }
      .schedule .item .main .title {
        font-size: 55px;
        font-family: 'Ubuntu-Bold';
        position: relative;
        top: -90px;
        width: 80%;
        left: 10%;
        padding: 20px 50px;
        background-color: #FFFFFF;
        text-align: center;
        line-height: 63px;
        margin-bottom: 30px; }
      .schedule .item .main .content {
        position: relative;
        top: -90px;
        text-align: left; }
        .schedule .item .main .content p {
          margin-top: 37px;
          font-family: 'Ubuntu-Regular';
          font-size: 18px;
          color: #000005;
          letter-spacing: 0;
          line-height: 36px; }
        .schedule .item .main .content .subtitle {
          font-family: 'Ubuntu-Bold';
          font-size: 20px;
          color: #2C1D05;
          letter-spacing: 0;
          line-height: 37px; }
  .schedule .owl-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    float: left;
    display: table; }
    .schedule .owl-nav div {
      width: 150px;
      height: 150px;
      border: solid 1px #516E2B;
      border-radius: 100%;
      margin-top: calc(35% - 75px);
      font-family: 'Ubuntu-Bold';
      font-size: 16px;
      color: #2C1D05;
      letter-spacing: 0;
      line-height: 27px;
      display: table-cell;
      vertical-align: middle;
      position: relative; }
      .schedule .owl-nav div.owl-prev {
        float: left; }
        .schedule .owl-nav div.owl-prev:before {
          content: "";
          position: absolute;
          background-image: url("../images/arrow.png");
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
          width: 80px;
          height: 80px;
          left: -60px;
          top: 35px;
          z-index: 1; }
      .schedule .owl-nav div.owl-next {
        float: right; }
        .schedule .owl-nav div.owl-next:before {
          content: "";
          position: absolute;
          background-image: url("../images/arrow.png");
          width: 80px;
          height: 80px;
          right: -60px;
          top: 35px;
          z-index: 1; }
      @media (max-width: 1119px) {
        .schedule .owl-nav div {
          border: none;
          color: transparent; }
          .schedule .owl-nav div.owl-prev::before {
            left: 0px; }
          .schedule .owl-nav div.owl-next::before {
            right: 0px; } }
  @media (max-width: 575px) {
    .schedule {
      padding: 10px 0; }
      .schedule .item {
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important; }
        .schedule .item .main .title {
          top: -62px;
          padding: 10px 20px; }
        .schedule .item .main .content {
          top: -62px; }
      .schedule .owl-nav {
        position: relative; }
        .schedule .owl-nav div {
          margin-top: 0; } }
  @media (max-width: 991px) {
    .schedule .item .main .title {
      font-size: 32px; } }

.event {
  background-color: #EFEFEF;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative; }
  .event .item {
    width: 100%;
    background-color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px; }
    .event .item img {
      width: 100%; }
    .event .item .name {
      font-family: 'Ubuntu-Bold';
      font-size: 20px;
      margin: 20px 0; }
    .event .item .desc {
      font-family: 'Ubuntu-Regular';
      font-size: 18px;
      line-height: 30px; }

.footer {
  background-color: #121B07;
  background-image: url("../images/footer-bg.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 30px;
  color: #FFFFFF;
  line-height: 40px; }
  .footer p {
    font-family: 'Ubuntu-Regular';
    font-size: 20px;
    letter-spacing: 0; }
  .footer h5 {
    font-family: 'Ubuntu-Bold';
    font-size: 24px; }
  .footer .copyright {
    font-family: 'Ubuntu-Regular';
    font-size: 14px;
    color: #F8E71C;
    letter-spacing: 0; }

.section-title {
  width: 100%;
  font-family: 'Ubuntu-Bold';
  font-size: 64px;
  color: #000;
  letter-spacing: 0;
  position: absolute;
  z-index: 2;
  top: -50px;
  background-image: url("../images/head-attr.png");
  background-position: center right;
  background-repeat: no-repeat; }
  @media (max-width: 575px) {
    .section-title {
      background-image: none;
      max-width: calc(100% - 30px);
      font-size: 48px;
      top: -40px; } }
  @media (min-width: 576px) {
    .section-title {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .section-title {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .section-title {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .section-title {
      max-width: 1140px; } }

.form .list {
  margin-bottom: 20px; }

.form a {
  color: #F5A623 !important;
  font-weight: bold;
  cursor: pointer; }

.form .form-control {
  height: 55px; }

.modal-title {
  width: 100%;
  text-align: center; }

.modal-content {
  border-radius: 20px; }
